*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: auto;

    background-color: #EEEEEE;
}

header {
    width: 100vw;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 0;

    background-color: #222831;
    color: rgb(255, 255, 255);
}

main {
    width: 50%;
    min-height: calc(100vh*80px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 30px 20px;
    gap: 30px;
}

main .addTask #insertForm {
    display: flex;
    gap: 4px;
}

main .taskList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    gap: 2px;
}

main .taskList .task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 5px 5px 10px;

    width: 100%;

    background-color: #fff;
    box-shadow: 0px 0px 5px 1px rgba(204,204,204,1);
}

main .taskList .task .taskSquare:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main .taskList .task .actions {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2px;
}

main .taskList .task .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 7px;
}

main .taskList .task #title {
    font-size: 18px;
    font-weight: 500;

    margin: 0;
}

main .taskList .task #titleDone {
    font-size: 16px;
    font-weight: 500;

    text-decoration: line-through;

    margin: 0;
}

main .taskList .task a {
    text-decoration: none;
    color: red;
}